.header {
    width: 100%;
    height: 116px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main {
    display: flex;
    max-width: 100%;
}

.main .a1 {
    background-color: #F1F1F2;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .a2 {
    width: 50%;
}

.main_2 {
    display: flex;
    max-width: 100%;
}

.main_2 .a3 {
    width: 50%;
    max-width: 100%;
}

.main_2 .a4 {
    width: 50%;
    background-color: #F1F1F2;
}

.text {
    width: 80%;
    height: 411px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
}

.text h1 {
    font-size: 56;

    line-height: 69px;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;

}

h1 div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    width: 40%;
    max-width: 200px;
    height: 60px;
    background-color: #F7941E;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    border: 1px solid #F7941E;
    font-size: 18px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    
}

.header .logo {
    width: 5%;
    height: 40px;
    margin: 38px;
}

.logo img {
    max-width: 100%;
}


.menu {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.giftButton {
    width: 15%;
    max-width: 200px;
    box-sizing: border-box;
    height: 38px;
    border: 1px solid #F7941E;
    display: flex;
    align-self: center;
    margin-right: 45px;
    border-radius: 5px;
    color: #F7941E;
    align-items: center;
    justify-content: center;
}



.info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
}

.info p {
    font-size: 20px;
    
}

.info .more {
    width: 40%;
    max-width: 200px;
    height: 60px;
    border: 1px solid #F7941E;
    color: #F7941E;
    display: flex;
    background-color: #F1F1F2;
}


.center {
    width: 100%;
    height: 820px;
    padding: 50px;
    box-sizing: border-box;

}

.center h1 {
    font-size: 32px;
}

.center h4 {
    font-size: 18px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.columns img {
    max-width: 100%;
}

.c1, .c2, .c3, .c4 {
    width: 20%;
    height: 436px;
    display: flex;
    flex-direction: column;
}



.c1:hover, .c2:hover, .c3:hover, .c4:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.c1 .name, .c2 .name, .c3 .name, .c4 .name {
    font-size: 20px;
    padding-top: 10px;
    margin-left: 10px;
}

.seeMore {
    display: flex;
    margin-top: 100px;
    margin-left: 10px;
}

.orange {
    width: 100%;
    height: 240px;
    background-color: #F7941E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

.textInOrange {
    width: 325px;
    height: 90px;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.findInOrange {
    width: 40%;
    max-width: 200px;
    height: 48px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
}

.howWorksOrange {
    width: 40%;
    max-width: 200px;
    height: 48px;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    margin-left: 15px;
}

.ourBlogs {
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;

}

.imageBlog img {
    max-width: 100%;
}

.blogsFoot {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.imageBlog {
    margin: 66px;
    display: flex;
    justify-content: center;
}

.twoBlocks {
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    width: 40%;
    height: 290px;
    margin-left: 10%;
    margin-right: 5%;
    padding-top: 20px;
    padding-left: 20px;
}

.right {
    width: 40%;
    height: 290px;
    margin-left: 5%;
    margin-right: 10%;
    padding-top: 20px;
    padding-left: 20px;
}

.twoBlocks p {
    padding-top: 50px;
}

.left:hover, .right:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.footer {
    width: 100%;
}

.footerLogo {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.footerLogo img {
    max-width: 100%;
}

.first {
    font-weight: bold;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.second {
    font-weight: bold;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

/*==========================================================================
==========================================================================
========================МЕДИА ЗАПРОСЫ=====================================*/

@media (max-width: 900px) {
    .header {
        width: 99%;
        font-size: 12px;
        height: auto;
    }

    .header .logo {
        width: 10%;
        margin: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        height:auto;
    }

    .menu {
        width: 50%;
        font-size: 12px;
    }

    .giftButton {
        height: fit-content;
        margin: 5%;
    }

    /*-------------main 1----------------*/

    .main, .main_2 {
        display: flex;
        flex-direction: column;
    }

    .main .a1, .main .a2, .main_2 .a3, .main_2 .a4 {
        width: 99%;
    }

    .main .a1 {
        height: 370px;
    }

    .text {
        width: 90%;
        height: auto;
        padding: 2%;
        margin: 0;    
    }

    .text h1 {
        line-height: normal;
        font-size: 36px;

    }

    .text div {
        font-size: 16px;
        max-width: 80%;
    }

    .text button {
        font-size: 16px;
        height: auto;
        width: 30%;
        margin-top: 5%;
    }

    .main_2 .a4 {
        height: 370px;
        
    }
    .a4 .info {
        padding: 5%;
        height: 80%;
        display: flex;
        justify-content: space-between;
    }

    .info h1 {
        font-size: 36px;
        margin: 0%;
    }

    .info p {
        font-size: 16px;
    }

    .more {
        font-size: 16px;
        display: flex;
    }

    /*====================================================================
    ==================GIFTS AND COLUMNS=================================*/

    .center {
        padding: 0%;
        width: 99%;
        margin: auto;
    }

    .center h1 {
        margin: 1%;
    }

    .center h4 {
        margin: 1%;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .columns {
        height: auto;
        display: flex;
        flex-flow: row wrap;
    }

    .c1, .c2, .c3, .c4 {
        height: 330px;
        width: 42%;
        margin: 3%;
    }

    .orange {
        flex-direction: column;
        margin: 0;
        height: auto;

    }

    .textInOrange {
        font-size: 26px;
        width: auto;
    }

    .buttons {
        display: flex;
        justify-content: center;
        max-width: 80%;
        margin-bottom: 2%;
    }

    .buttons button {
        font-size: 16px;
    }

    /*============================================================================
    =============OuR BLOGS=====================================*/

    .ourBlogs {
        height: 100px;
        display: flex;

    }

    .blogsFoot {
        max-width: 80%;
        margin: auto;        
    }

    .imageBlog {
        margin: auto;
        margin-top: 2%;

    }

    .twoBlocks {
        max-width: 99%;
        flex-direction: column;
        height: auto;
    }

    .left, .right {
        width: 90%;
        margin: 0%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .twoBlocks h3 {
        padding: 0%;
        font-size: 26px;
    }

    .twoBlocks p {
        padding: 0%;
        font-size: 20px;
    }

    /*===================FOOTER==========================
    =====================================================*/

    .footer {
        width: 99%;
        margin-top: 10px;
    }

    .footerLogo .first, .footerLogo .second {
        width: 30%;
    }

    .icons {
        height: auto;
    }
}